# turn rewriting on
RewriteEngine On

# /projects  →  ?page=projects
# getting tangled up with the next one?

# /page-name →                              ?page=page-name
RewriteRule ^([0-9a-zA-Z_-]+)$              ?page=$1 [NC,L]

# this rule allows you to access /projects even with a projects folder present
# RewriteRule projects(/)?$ ?page=projects [NC,L]


# /projects/project-name  →                 ?page=projects&slug=project-slug
RewriteRule ^projects/([0-9a-zA-Z_-]+)$     ?page=project&slug=$1 [NC,L]
